/* Chat component specific styles */

.chat-container {
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropzone {
    height: calc(100% - 80px);
}

.message-body {
    height: calc(100% - 53px);
}
